*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.5;

}
:root{
    --primary-color: #5F48E1;
    --secondary-color: #F9750A;
    --black-color: black;
    --white-color: white;
    --very-bold: 700;
    --light-border: #FFF617;
    
}

body{
    background-color: var(--primary-color);
    
}
.dashboard{
    width: 95%;
    margin: auto;
    padding: 30px 0;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.dashboard-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    height: 50px;
    color: white;
    padding: 10px;
    border: 5px solid var(--light-border);
    outline: 2px solid var(--black-color);
    border-radius: 0px 0 10px 10px;
    background-image: url(image/download\ \(6\).png);
    /* background-repeat: no-repeat; */
    background-position: right;
    background-size: cover;
    

}
.icon-dashboard{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-dashboard i{
    font-size: 1.5rem;
}

.icon-dashboard .head{
    font-weight: 700;
    font-size: 1.5rem;
}

.other-dashboard-panel{
    display: flex;
    gap: 15px;
}
.other-dashboard-panel i{
    font-size: 1.5rem;
    cursor: pointer;
}

.total-boxes{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* border: 2px solid; */

}

.group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* border: 2px solid; */

}
.box{
    /* width: 40%; */
    /* border: 2px solid; */
    padding: 15px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: none; */
    box-shadow: 0 8px 15px rgba(249, 117, 10, 0.3);
    border: 5px solid var(--light-border);
    outline: 2px solid var(--black-color);
    background-image: url(image/download.png);
    /* background-repeat: no-repeat; */
    background-position: right;
    background-size: cover;
    
}
.box i{
    font-size: 1.5rem;
}

.box .text{
    font-size: .9rem;
}
.box .price{
    font-weight: 600;
    font-size: 1.2rem;
}
.box span{
    font-size: .7rem;
    vertical-align: super;

}
.arrow{
    margin-top: 10px;
    /* border: 1px solid; */
    text-align: end;
    cursor: pointer;
}

/* .total-trade{
    background-color: #8338ec;
    outline: 3px solid rgb(222, 113, 113);

}

.profit-paid{
    background-color: #3a86ff;
    outline: 3px solid black;

}
.total-reward{
    background-color: #f94144;
    outline: 3px solid black;

}

.total-referral{
    background-color: #42f687;
    outline: 3px solid black;

} */

.news-announcement{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-announcement .text{
    font-weight: 700;
}

.news-announcement img{
    width: 100%;
    border-radius: 20px;
    height: 200px;
}


/* WDBXWW */