*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.5;

}

:root{
    --primary-color: #1C1C1E;
    --secondary-color: #8338ec;
    --black-color: black;
    --white-color: white;
    --very-bold: 700;
    --light-border: #FF9320;
    
}

body{
    background-color: var(--primary-color);
    
}
.big-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.task-container{
    background: url(image/blue-bg-dot-D02CQDn2.png) var(--secondary-color);
    text-align: center;
    padding: 40px 0 20px 0;
    border-radius: 10px;
}
.task-container img{
    width: 150px;
}

.task-container .text{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white-color);
    margin-top: 10px;
}
.task-details{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-content{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.task-details .common-bonus{
    background-color: var(--secondary-color);
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;  
    background: linear-gradient(to right, #7A01FF, #BC2DFF);
    
}
.task-details .common-bonus .head{
    font-weight: 700;
    color: var(--white-color);
}

.task-content .task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 10px 20px;
    border-radius: 10px;

}
.the-task .task-detail{
    
}


.task-content .the-task{
    display: flex;
    align-items: center;
    gap: 20px;
}
.the-task img{
    width: 60px;
}
.the-task .head{
    font-weight: 700;
    font-size: 1.1rem;
}

.the-task .text{
    /* text-align: center; */
    font-weight: 500;
}

.task .arrow{
    width: 30px;
    height: 30px;
    col
    /* border: 2px solid; */
}
